@page "/center-admin/sciences/{id:int}/edit"


<EditForm Model="@editDto" OnValidSubmit="@HandleValidSubmitAsync">
     <DataAnnotationsValidator />

     <div class="row gx-3">
          <div class="card fade-in">
               <div class="card-header">
                    <h5 class="card-title mb-0">O'quv markazni tahrirlash</h5>
               </div>



               <div class="card-body">
                    @if (errors.Count > 0)
                    {

                         <div clas="mb-3">

                              <h4>Quyidagi xatolar mavjud</h4>

                              <div>
                                   @foreach (var e in errors)
                                   {
                                        <p class="text-danger">@e</p>
                                   }
                              </div>
                         </div>
                    }

                    <div class="mb-3">
                         <label for="fullname" class="form-label">Nomi</label>
                         <InputText id="fullname" class="form-control" @bind-Value="editDto.Name" />
                         <ValidationMessage For="@(() => editDto.Name)" />
                    </div>



                    <button type="submit" class="btn btn-primary">Saqlash</button>
               </div>
          </div>
     </div>
</EditForm>


@inject ScienceClient scienceClient

@inject NavigationManager navigationManager

@code {


     [Parameter]
     public int Id { get; set; }



     protected List<string> errors = new();




     protected List<User> admins = new();


     private EditScienceDto editDto = new();





     protected override async Task OnParametersSetAsync()
     {

          var scienceResponse = await scienceClient.GetAsync(Id);

          if (!scienceResponse.Success)
          {
               errors.Add("Nimadir xato ketti, iltimos keyinroq urinib ko'ring");
          }

          else
          {
               editDto.Name = scienceResponse.Data!.Name;

          }


          await base.OnParametersSetAsync();
     }

     private async Task HandleValidSubmitAsync()
     {

          errors = new();


          Response<Science>? response = await scienceClient.PutAsync(Id, editDto);


          if (response.HttpStatusCode == System.Net.HttpStatusCode.BadRequest)
          {

               errors.AddRange(response.Errors.SelectMany(r => r.Errors));

          }


          if (response.HttpStatusCode == HttpStatusCode.OK)
          {

               navigationManager.NavigateTo("/center-admin/sciences");

          }

     }
}